# Mandatory for Ollama
OLLAMA_BASE_URL="http://localhost:11434" # Default Ollama URL

# Embedding Configuration
EMBEDDING_MODEL="all-minilm-l6-v2" # OPTIONAL - Default_Value ="all-minilm-l6-v2" -- Embedding model to be used for text embedding via Ollama
EMBEDDING_PROVIDER="ollama" # OPTIONAL - Default_Value ="ollama" -- Embedding provider (Only "ollama" is supported in Lite)
IS_EMBEDDING="True" # OPTIONAL - Default_Value ="True" -- Flag to enable text embedding

# Neo4j Configuration
NEO4J_URI="" # OPTIONAL - Default_Value ="bolt://localhost:7687"
NEO4J_USERNAME="neo4j" # OPTIONAL - Default_Value = "neo4j"
NEO4J_PASSWORD="" # OPTIONAL - Default_Value = "password"
NEO4J_DATABASE="neo4j" # OPTIONAL - Default_Value = "neo4j"

# Processing Configuration
UPDATE_GRAPH_CHUNKS_PROCESSED="20" # Number of chunks processed before updating the graph
MAX_TOKEN_CHUNK_SIZE="10000" # Max token used to process/extract the file content

# Ollama Model Configurations
# Format: LLM_MODEL_CONFIG_MODEL_NAME="actual_ollama_model_name,base_url"
LLM_MODEL_CONFIG_OLLAMA_LLAMA3="llama3,http://localhost:11434"
LLM_MODEL_CONFIG_OLLAMA_MISTRAL="mistral,http://localhost:11434"
LLM_MODEL_CONFIG_OLLAMA_PHI3="phi3,http://localhost:11434"

# Source Configuration
VITE_REACT_APP_SOURCES="local,wiki,youtube,web-url" # Enabled sources

# Optional Token Tracking (requires separate Neo4j instance)
TRACK_USER_USAGE="false" 